@media (max-width: 767px) {
	.feature-image {
		display: none;
		visibility: hidden;
	}
}


@media (min-width: 1px) {
	.feature-image {
		background: url(hub-images-0011-house.jpg) #231f20 no-repeat;
		background-position:center;	}
}


@media (min-width: 768px) {
	.feature-image {
		background: url(hub-images-0011-house.jpg) #231f20 no-repeat;
		background-position:center;	}
}


@media (min-width: 992px) {
	.feature-image {
		background: url(hub-images-0007-hosuing.jpg) #231f20 no-repeat;
		background-position:center;	}
}


@media (min-width: 1367px) {
	.feature-image {
		background: url(hub-images-0007-housing.jpg) #231f20 no-repeat;
		background-position:center;	}
}

