@media (max-width: 767px) {
	.feature-image {
		display: none;
		visibility: hidden;
	}
}


@media (min-width: 1px) {
	.feature-image {
		background: url(Tax-benefits-and-finances-hub-photo-small2.jpg) #231f20 no-repeat;
		background-position:center;	}
}


@media (min-width: 768px) {
	.feature-image {
		background: url(Tax-benefits-and-finances-hub-photo-small2.jpg) #231f20 no-repeat;
		background-position:center;	}
}


@media (min-width: 992px) {
	.feature-image {
		background: url(Tax-benefits-and-finances-hub-photo-medium2.jpg) #231f20 no-repeat;
		background-position:center;	}
}


@media (min-width: 1367px) {
	.feature-image {
		background: url(Tax-benefits-and-finances-hub-photo-Large2.jpg) #231f20 no-repeat;
		background-position:center;	}
}

