@media (max-width: 767px) {
	.feature-image {
		display: none;
		visibility: hidden;
	}
}


@media (min-width: 1px) {
	.feature-image {
		background: url(hub-images-0012-environment.jpg) #231f20 no-repeat;
		background-position:center;	}
}


@media (min-width: 768px) {
	.feature-image {
		background: url(hub-images-0012-environment.jpg) #231f20 no-repeat;
		background-position:center;	}
}


@media (min-width: 992px) {
	.feature-image {
		background: url(hub-images-0009-Environment.jpg) #231f20 no-repeat;
		background-position:center;	}
}


@media (min-width: 1367px) {
	.feature-image {
		background: url(hub-images-0010-environment.jpg) #231f20 no-repeat;
		background-position:center;	}
}

